## Facial Emotions to Blendshapes pipeline

# Data Processing
pandas
numpy
scipy

# Computer Vision & AI
opencv-python
deepface
tf-keras

# Note: DeepFace will automatically install TensorFlow and other dependencies on first run.